<!DOCTYPE HTML>
<html lang="en" ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/angular/angular.js"></script>
    <script src="public/bower_components/angular-resource/angular-resource.js"></script>
    <script src="public/js/todoController.js"></script>
    <script src=""></script>
  </head>

<body ng-controller="todoController">
  <h1>To-Do List:</h1>

  <form id="add-form">
    <input type="task" ng-model="newTask" placeholder="Add something to the list!">
    <button id="new_task" ng-click="addTask()">Add item</button>
  </form>
  
  <div >
    <ul>
      <li ng-repeat="text in allTasks">
        <input type="checkbox" ng-model="newTask.done">
        {{task.text}}
      </li>
    </ul>
  <div>
</body>

</html>